@import "./homepage/banner";
@import "./homepage/aboutMe";
@import "./homepage/skills";
@import "./homepage/experience.scss";
@import "./homepage/works.scss";

%card-style {
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  border-radius: 0.3125rem;
}
