@import "./menu";

.navbar {
  width: 100vw;
  height: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 20;

  .navbar__progress {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    height: 100%;
    z-index: -2;
    left: 0;
    box-shadow: inset 0px 0px 10px 5px rgba(235, 235, 235, 0.541);
  }
  .navbar__ham {
    display: none;
  }
  span {
    display: none;
  }
  .navbar__logo {
    display: inline;
    font-family: $fontEn3;
    font-size: 1.5rem;
  }
  ul {
    position: absolute;
    display: flex;
    padding: 0;
    margin: 0 2rem;
    right: 0;
    font-family: $fontEn2;

    li {
      margin: 0 1rem;
      list-style: none;
      cursor: pointer;
    }
    .navbar__selected {
      color: $primary;
    }
  }
}
.navbarFix {
  height: 3.125rem;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  transition: 0.5s;

  span {
    display: inline-block;
    font-family: $fontEn3;
    font-size: 1.5rem;
  }
}

.navbar2 {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 20;
  height: 3.125rem;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);

  span {
    display: inline-block;
    font-family: $fontEn3;
    font-size: 1.5rem;
  }
  .navbar__ham {
    display: none;
  }
  ul {
    position: absolute;
    display: flex;
    padding: 0;
    margin: 0 2rem;
    right: 0;
    font-family: $fontEn2;

    li {
      margin: 0 1rem;
      list-style: none;
      cursor: pointer;
    }
    .navbar__selected {
      color: $primary;
    }
  }
}

@media (max-width: 540px) {
  .navbar {
    height: 3.125rem;
    background-color: rgba(255, 255, 255, 1);
    justify-content: space-between;
    position: fixed;

    .navbar__progress {
      background-color: $primary;
      box-shadow: none;
    }
    .navbar__ham {
      display: block;
      margin-right: 1rem;
      display: flex;
      align-items: center;
    }
    span {
      display: inline-block;
      font: {
        size: 1.5rem;
        family: $fontEn3;
      }
      margin-left: 1rem;
    }

    ul {
      display: none;
    }
  }
}
