.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-image: url(../../images/nyc.jpg);
  font-family: $fontType1;

  .banner__cover {
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .banner__title {
      color: #ffffff;
      font-size: 5rem;
      font-weight: 900;
      text-shadow: 1px 1px 2px #555;
    }
    .banner__title--sm {
      display: flex;
      flex-direction: column;

      span {
        color: #ffffffd0;
        font-size: 1.125rem;
        text-align: center;
      }
      span:nth-child(2) {
        color: $primary;
      }
    }
  }
}

@media (max-width: 540px) {
  .banner {
    .banner-cover {
      .banner__title {
        font-size: 2.5rem;
      }
      .banner__title--sm {
        span {
          font-size: 1rem;
        }
      }
    }
  }
}
