%skills-card {
  width: 100%;
  height: 100%;
  padding: 1.5rem 0;
  position: absolute;
  backface-visibility: hidden;
  transition: 0.5s;
}
%all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  height: auto;
  padding: 0 10%;
  font-family: $fontEn1, $fontCn;
  color: #555;

  .skills__cards {
    display: flex;

    .skills__category {
      width: 23.75%;
      position: relative;
      cursor: pointer;
      transform: perspective(1000px);
      height: 20rem;

      &:not(:last-child) {
        margin-right: 1.6667%;
      }
      &:hover .skills__category--cover,
      .skills__category--back {
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
      }

      .skills__category--cover {
        @extend %card-style;
        @extend %skills-card;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover h2 {
          color: $primary;
        }

        h2 {
          font-weight: 500;
          font-size: 2rem;
          color: #222222;
          transition: 0.5s;
        }
      }
      .skills__category--back {
        @extend %card-style;
        @extend %skills-card;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .skills__item {
          line-height: 2rem;
          font-size: 1.25rem;
          margin: 1rem 0;
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            margin: 0 0.25rem;
          }
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .skills {
    .skills__cards {
      flex-direction: column;

      #en-skill {
        height: 10rem;
      }

      .skills__category {
        width: 100%;
        height: 25rem;
        margin-bottom: 1rem;

        .skills__category--cover {
          box-sizing: border-box;
        }
        .skills__category--back {
          box-sizing: border-box;
        }
      }
    }
  }
}
