.skills {
  height: auto;
  padding: 0 10%;
  font-family: $fontEn1, $fontCn;
  color: #555;

  .skills__cards {
    display: flex;

    .skills__category {
      @extend %card-style;
      width: 23.75%;
      text-align: center;
      padding: 1.5rem 0;
      transition: 0.5s;

      &:not(:last-child) {
        margin-right: 1.6667%;
      }

      &:hover {
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
      }

      h2 {
        font-weight: 500;
        font-size: 1.85rem;
        color: #222222;
        margin-top: 0;
      }

      .skills__item {
        line-height: 2rem;
        display: flex;
        font-size: 1.25rem;
        justify-content: center;
        align-items: center;
        margin: 1rem auto 0 0;

        svg {
          margin: 0 0.25rem;
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .skills {
    height: auto;

    .skills__cards {
      flex-direction: column;

      .skills__category {
        width: 100%;
        margin-bottom: 1rem;
      }
    }
  }
}
